<!DOCTYPE html>
<meta charset="utf-8">
<style>

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

</style>

<a-header on-num-retries-changed="$ctrl.onNumRetriesChanged(numRetries)" on-num-cards-changed="$ctrl.onNumCardsChanged(numCards)" on-cards-array-changed="$ctrl.onCardsArrayChanged(enabledArray)"></a-header>
<div class="container">
	<div class="col-lg-6">
		<div class="col-md-12">
			<div class="col-sm-6" ng-show="$ctrl.useCard1">
				<div id="card1" class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Card 1 Possibilities
						<span class="badge">{{$ctrl.c1ExpectedValue}}</span>
						<span class="pull-right" ng-click="$ctrl.togglePanel('showC1')" ng-switch on="$ctrl.showC1">
							<i class="glyphicon glyphicon-chevron-up" ng-switch-when="true"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-switch-when="false"></i>
						</span>
					</h3>
				  </div>
				  <div class="panel-body" ng-show="$ctrl.showC1">
					<svg id="card1Prob" width="400" height="200"></svg>
				  </div>
				</div>		
			</div>
			<div class="col-sm-6" ng-show="$ctrl.useCard2">
				<div id="card2" class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Card 2 Possibilities
						<span class="badge">{{$ctrl.c2ExpectedValue}}</span>
						<span class="pull-right" ng-click="$ctrl.togglePanel('showC2')" ng-switch on="$ctrl.showC2">
							<i class="glyphicon glyphicon-chevron-up" ng-switch-when="true"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-switch-when="false"></i>
						</span>
					</h3>
				  </div>
				  <div class="panel-body" ng-show="$ctrl.showC2">
					<svg id="card2Prob" width="400" height="200"></svg>
				  </div>
				</div>		
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="col-md-12">
			<div class="col-sm-6" ng-show="$ctrl.useCard3">
				<div id="card3" class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Card 3 Possibilities
						<span class="badge">{{$ctrl.c3ExpectedValue}}</span>
						<span class="pull-right" ng-click="$ctrl.togglePanel('showC3')" ng-switch on="$ctrl.showC3">
							<i class="glyphicon glyphicon-chevron-up" ng-switch-when="true"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-switch-when="false"></i>
						</span>
					</h3>
				  </div>
				  <div class="panel-body" ng-show="$ctrl.showC3">
					<svg id="card3Prob" width="400" height="200"></svg>
				  </div>
				</div>		
			</div>
			<div class="col-sm-6" ng-show="$ctrl.useCard4">
				<div id="card4" class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Card 4 Possibilities
						<span class="badge">{{$ctrl.c4ExpectedValue}}</span>
						<span class="pull-right" ng-click="$ctrl.togglePanel('showC4')" ng-switch on="$ctrl.showC4">
							<i class="glyphicon glyphicon-chevron-up" ng-switch-when="true"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-switch-when="false"></i>
						</span>
					</h3>
				  </div>
				  <div class="panel-body" ng-show="$ctrl.showC4">
					<svg id="card4Prob" width="400" height="200"></svg>
				  </div>
				</div>		
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Combined Possibilities
					<span class="badge">{{$ctrl.handExpectedValue}}</span>
			    </h3>
			  </div>
			  <div class="panel-body">
				<svg id="handProb" width="900" height="200"></svg>
			  </div>
			</div>		
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">What about each possible number?</h3>
			  </div>
			  <div class="panel-body">
				  <table class="table">
					  <caption>Probabilities for each card number:</caption>
					  <thead>
					  	<tr>
					  		<th>Id</th>
					  		<th>Fraction</th>
					  		<th>Decimal</th>
					  		<th>Percentage</th>
					  		<th>Cumulative Percentage</th>
					  	</tr>
					  </thead>
					  <tbody>
						  <tr ng-repeat="suit in $ctrl.deckCumulativeData">
					  		<tH>{{suit.id}}</th>
					  		<td>{{suit.count}} / {{$ctrl.deckInUse.length}}</td>
					  		<td>{{suit.count / $ctrl.deckInUse.length | number:4}}</td>
					  		<td>{{suit.count / $ctrl.deckInUse.length * 100 | number:2}}%</td>
					  		<td>{{suit.cumulativeCount / $ctrl.deckInUse.length * 100 | number:0}}%</td>
					  	</tr>
					  </tbody>
				  </table>
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Cumulative Probabilities graph. Or: 'Did I just draw a card worth keeping?'</h3>
				  </div>
				  <div class="panel-body">
					  <svg id="cumulativeProb" width="900" height="500"></svg>
				  </div>
				</div>		
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">More Accurate Cumulative Probabilities graph. Or: 'Did I just draw a card worth keeping?'</h3>
				  </div>
				  <div class="panel-body">
					  <svg id="betterCumulativeProb" width="900" height="500"></svg>
				  </div>
				</div>		
			  </div>
			</div>		
		</div>
	</div>
</div>
