<!DOCTYPE html>
<meta charset="utf-8">
<style>

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%; 
	vertical-align: top; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
</style>

<a-header on-num-retries-changed="$ctrl.onNumRetriesChanged(numRetries)" on-num-cards-changed="$ctrl.onNumCardsChanged(numCards)" on-cards-array-changed="$ctrl.onCardsArrayChanged(enabledArray)" on-card-values-array-changed="$ctrl.onCardValuesArrayChanged(valuesArray)"></a-header>
<div class="container">
	<div class="col-lg-6">
		<div class="col-md-12">
			<div class="col-sm-6" ng-show="$ctrl.cards[0].use">
				<div id="card0" class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Card 1 Possibilities
						<span class="badge">{{$ctrl.cards[0].expectedValue}}</span>
						<span class="pull-right" ng-click="$ctrl.togglePanel(0)" ng-switch on="$ctrl.cards[0].show">
							<i class="glyphicon glyphicon-chevron-up" ng-switch-when="true"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-switch-when="false"></i>
						</span>
					</h3>
				  </div>
				  <div class="panel-body" ng-show="$ctrl.cards[0].show">
				  	<div class="svg-container">
						<svg class="svg-content" id="card0Prob" viewBox="0 0 400 200" preserveAspectRatio="xMinYMin meet" ></svg>
					</div>
				  </div>
				</div>		
			</div>
			<div class="col-sm-6" ng-show="$ctrl.cards[1].use">
				<div id="card1" class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Card 2 Possibilities
						<span class="badge">{{$ctrl.cards[1].expectedValue}}</span>
						<span class="pull-right" ng-click="$ctrl.togglePanel(1)" ng-switch on="$ctrl.cards[1].show">
							<i class="glyphicon glyphicon-chevron-up" ng-switch-when="true"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-switch-when="false"></i>
						</span>
					</h3>
				  </div>
				  <div class="panel-body" ng-show="$ctrl.cards[1].show">
				  	<div class="svg-container">
						<svg class="svg-content" id="card1Prob" viewBox="0 0 400 200" preserveAspectRatio="xMinYMin meet" ></svg>
					</div>
				  </div>
				</div>		
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="col-md-12">
			<div class="col-sm-6" ng-show="$ctrl.cards[2].use">
				<div id="card2" class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Card 3 Possibilities
						<span class="badge">{{$ctrl.cards[2].expectedValue}}</span>
						<span class="pull-right" ng-click="$ctrl.togglePanel(2)" ng-switch on="$ctrl.cards[2].show">
							<i class="glyphicon glyphicon-chevron-up" ng-switch-when="true"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-switch-when="false"></i>
						</span>
					</h3>
				  </div>
				  <div class="panel-body" ng-show="$ctrl.cards[2].show">
				  	<div class="svg-container">
						<svg class="svg-content" id="card2Prob" viewBox="0 0 400 200" preserveAspectRatio="xMinYMin meet" ></svg>
					</div>
				  </div>
				</div>		
			</div>
			<div class="col-sm-6" ng-show="$ctrl.cards[3].use">
				<div id="card3" class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Card 4 Possibilities
						<span class="badge">{{$ctrl.cards[3].expectedValue}}</span>
						<span class="pull-right" ng-click="$ctrl.togglePanel(3)" ng-switch on="$ctrl.cards[3].show">
							<i class="glyphicon glyphicon-chevron-up" ng-switch-when="true"></i>
							<i class="glyphicon glyphicon-chevron-down" ng-switch-when="false"></i>
						</span>
					</h3>
				  </div>
				  <div class="panel-body" ng-show="$ctrl.cards[3].show">
				  	<div class="svg-container">
						<svg class="svg-content" id="card3Prob" viewBox="0 0 400 200" preserveAspectRatio="xMinYMin meet" ></svg>
					</div>
				  </div>
				</div>		
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Combined Possibilities
					<span class="badge">{{$ctrl.handExpectedValue}}</span>
			    </h3>
			  </div>
			  <div class="panel-body">
				  	<div class="svg-container">
						<svg class="svg-content" id="handProb" viewBox="0 0 400 200" preserveAspectRatio="xMinYMin meet" ></svg>
					</div>
			  </div>
			</div>		
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">What about each possible number?</h3>
			  </div>
			  <div class="panel-body">
				  <table class="table">
					  <caption>Probabilities for each card number:</caption>
					  <thead>
					  	<tr>
					  		<th>Id</th>
					  		<th>Fraction</th>
					  		<th>Decimal</th>
					  		<th>Percentage</th>
					  		<th>Cumulative Percentage</th>
					  	</tr>
					  </thead>
					  <tbody>
						  <tr ng-repeat="suit in $ctrl.deckCumulativeData">
					  		<tH>{{suit.id}}</th>
					  		<td>{{suit.count}} / {{$ctrl.deckInUse.length}}</td>
					  		<td>{{suit.count / $ctrl.deckInUse.length | number:4}}</td>
					  		<td>{{suit.count / $ctrl.deckInUse.length * 100 | number:2}}%</td>
					  		<td>{{suit.cumulativeCount / $ctrl.deckInUse.length * 100 | number:0}}%</td>
					  	</tr>
					  </tbody>
				  </table>
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Cumulative Probabilities graph. Or: 'Did I just draw a card worth keeping?'</h3>
				  </div>
				  <div class="panel-body">
					  <svg id="cumulativeProb" width="900" height="500"></svg>
				  </div>
				</div>		
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">More Accurate Cumulative Probabilities graph. Or: 'Did I just draw a card worth keeping?'</h3>
				  </div>
				  <div class="panel-body">
					  <svg id="betterCumulativeProb" width="900" height="500"></svg>
				  	<div class="svg-container">
						<svg class="svg-content" id="betterCumulativeProb" viewBox="0 0 400 300" preserveAspectRatio="xMinYMin meet" ></svg>
					</div>
				  </div>
				</div>		
			  </div>
			</div>		
		</div>
	</div>
</div>
